.navBarWrapper {
  position: fixed;
  height: 97%;
  width: 80px;
  right: 0px;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}

@media screen and (min-width: 580px) {
  .navBarWrapper {
    display: none;
  }
}

ul {
  position: absolute;
  right: 0;
  list-style-type: none;
  height: 100%;
  margin-top: 20px;
  text-align: right;
}

li {
  text-align: right;
  margin: auto;
  height: 14%;
}

#nav1,
#nav2,
#nav3,
#nav4,
#nav5,
#nav6,
#nav7 {
  background-color: rgb(51, 51, 51);
  color: white;
  border: 1px solid rgb(51, 51, 51);
  border-right: 0;
  border-radius: 15px 0 0 15px;
  width: 65px;
  height: 53px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  line-height: 50px;
  padding: 0;
  padding-left: 4px;
  right: 0px;
  box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.4);
  transition: 0.25s;
  font-size: 17px;
  font-family: consola;
}

@font-face {
  font-family: consola;
  src: url(../Fonts/CONSOLA.TTF);
}

@font-face {
  font-family: cairo;
  src: url(../Fonts/Cairo-Regular.ttf);
}

@font-face {
  font-family: cairo-bold;
  src: url(../Fonts/Cairo-Bold.ttf);
}

button:active,
#nav1:active,
#nav2:active,
#nav3:active,
#nav4:active,
#nav5:active,
#nav6:active,
#nav7:active {
  background-color: black;
  border-color: black;
}

#nav1.nowActive,
#nav2.nowActive,
#nav3.nowActive,
#nav4.nowActive,
#nav5.nowActive,
#nav6.nowActive,
#nav7.nowActive {
  background-color: rgb(255, 255, 255);
  border-color: white;
  color: rgb(41, 40, 40);
  box-shadow: 6px 12px 4px 0 rgba(0, 0, 0, 0.4);
  height: 58px;
  line-height: 56px;
  font-size: 20px;
  margin-top: -3px;
  width: 75px;
  padding: 0;
  padding-left: 6px;
}

.normal {
}
