.navBarWrapper {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0;
}

@media screen and (min-width: 580px) {
  .navBarWrapper {
    display: none;
  }
}
.dayNumber {
  font-size: 22px;
}

ul.navBar {
  list-style-type: none;
  height: 100%;
  margin: 0;
}
ul {
  display: table;
}
ul li {
  display: table-row;
  vertical-align: middle;
  width: 100%;
}

ul li button {
  /* assuming an anchor child.  Can be anything */
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 100%;
}

li.sDay {
}

button {
  z-index: 99;
}

#nav1,
#nav2,
#nav3,
#nav4,
#nav5,
#nav6,
#nav0 {
  background-color: rgb(51, 51, 51);
  color: white;
  border: 0px solid rgb(51, 51, 51);
  border-right: 0;

  text-decoration: none;

  transition: 0.25s;
  font-size: 14px;
  font-family: consola;
}

@font-face {
  font-family: consola;
  src: url(../Fonts/CONSOLA.TTF);
}

@font-face {
  font-family: cairo;
  src: url(../Fonts/Cairo-Regular.ttf);
}

@font-face {
  font-family: cairo-bold;
  src: url(../Fonts/Cairo-Bold.ttf);
}

button:active,
#nav1:active,
#nav2:active,
#nav3:active,
#nav4:active,
#nav5:active,
#nav6:active,
#nav0:active {
  background-color: black;
  border-color: black;
}

#nav1:disabled,
#nav2:disabled,
#nav3:disabled,
#nav4:disabled,
#nav5:disabled,
#nav6:disabled,
#nav0:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

#nav1.nowActive,
#nav2.nowActive,
#nav3.nowActive,
#nav4.nowActive,
#nav5.nowActive,
#nav6.nowActive,
#nav0.nowActive {
  background-color: rgb(255, 255, 255);
  color: rgb(41, 40, 40);
}
