.headerWrapper {
  margin: 0px;
  margin-right: 80px;
  height: 75px;
  background-color: rgb(51, 51, 51);
  text-align: center;
  position: relative;
  border-radius: 0 0 40px 0;
}

@font-face {
  font-family: lemondrop;
  src: url(../Fonts/Lemondrop.ttf);
}

.headerTitle1,
.headerTitle2 {
  color: white;
  top: 0;
  margin: auto;
  margin-left: 70px;
  font-size: 25px;
  font-family: lemondrop;
  text-align: center;
}

@media screen and (min-width: 580px) {
  .headerTitle1,
  .headerTitle2 {
    display: inline-block;
    line-height: 72px;
    font-size: 32px;
  }

  .headerTitle1 {
    margin-right: 3px;
  }

  .headerTitle2 {
    margin-left: 3px;
  }
}

@media screen and (max-width: 350px) {
  .headerTitle1,
  .headerTitle2 {
    font-size: 20px;
  }

  .headerTitle1 {
    padding-top: 7px;
  }
}

.logo {
  display: inline;
  position: absolute;
  left: 0;
  width: 70px;
  margin-top: 3px;
}
