.headerWrapper {
  margin: 0px;
  margin-right: 80px;
  height: 75px;
  background-color: black;
  text-align: center;
  position: relative;
  border-radius: 0 0 40px 0;
}

@font-face {
  font-family: lemondrop;
  src: url(../Fonts/Lemondrop.ttf);
}

.headerTitle {
  color: white;
  top: 0;
  margin: auto;
  margin-left: 70px;
  font-size: 25px;
  font-family: lemondrop;
  text-align: center;
}

img {
  display: inline;
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  margin-top: 3px;
}
