.tableContainer {
  text-align: center;
  padding-top: 40px;
}

table {
  min-width: 240px;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.9);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

tr,
td,
th {
  border: 0px solid rgb(85, 85, 85);
  text-align: center;
  color: black;
  padding: 10px 0;
}

@font-face {
  font-family: digital-7;
  src: url(../Fonts/digital-7.regular.ttf);
}
@font-face {
  font-family: bagnardSans;
  src: url(../Fonts/BagnardSans.otf);
}
@font-face {
  font-family: ranade;
  src: url(../Fonts/Ranade-Regular.otf);
}

th {
  font-family: digital-7;
  font-size: 30px;
}

tr {
  background-color: #e4e4e4;
}
tr:nth-child(even) {
  background-color: white;
}

#day {
  background-color: rgb(51, 51, 51);
  color: white;
  font-family: "Verdana";
  font-size: 18px;
  padding: 0;
}
