html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(0, 225, 255),
    rgb(72, 105, 255)
  );
}

.app {
  text-align: center;
}
.tablesWrapper {
  margin-top: 40px;

  margin-right: 80px;
  text-align: center;
}

@media screen and (min-width: 580px) {
  .tablesWrapper {
    margin: auto;
    margin-top: 40px;
  }
}

#weekBar {
  top: 0;
  left: 0;
  text-align: left;
}

.standard {
  position: absolute;
  margin-top: 75px;
  left: 0;
}

.sticky {
  position: fixed;
  top: 0;
}

.weekButton {
  text-align: center;
  background-color: rgba(51, 51, 51, 1);
  color: rgb(255, 255, 255);
  font-family: consola;
  font-size: 15px;
  border: 0px solid rgb(51, 51, 51);
  height: 53px;
  vertical-align: top;
  transition: 0.25s;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.609);
}

.weekButton:disabled,
.weekButton[disabled] {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 58px;
  font-size: 17px;
}

.weekNumbers {
  font-size: 20px;
}

.errorWrapper {
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  max-width: 80%;
  margin: auto;
  margin-top: 80px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.7);
  max-width: 300px;
  border: 5px solid red;
}

@media screen and (max-width: 420px) {
  .errorWrapper {
    margin-left: 15px;
  }
}

.errorMessage {
  font-family: ranade;
  font-size: 16px;
  color: black;
  margin: 0;
  font-weight: bold;
}
#sadface {
  margin-top: 5px;
}
